#main {
	#contact {
		.form {
			form {
				text-align: center;

				input,
				select {
					border: none;
					border-bottom: solid transparent 2px;
					background-color: #dedede;
					margin: 15px 2%;
					padding: 10px;
					width: 44%;
				}

				input[type=checkbox] { margin-left: 21px; width: 37px; }
				input[type=submit] 	 { margin-left: 43px; width: 165px; }

				.parsley-error {
						border-color: #ff8181;
				}

				.parsley-errors-list {
					display: none;
					/* margin: 0;
					width: 40%; */
				}
			}
			.hidden {
				display: none;
				visibility: hidden;
			}

			.title_form {
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 5px;
				padding: 0 10px;
				position: relative;
				text-transform: uppercase;
			}
		}
	}
	#ppal {
		background-color: $black;
		padding: 10px 0;

		.content_ppal {
			padding: 14px 40px;
			position: relative;
			width: 100%;

			.description_ppal {
				.description {
					color: $white;
					width: 40%;
				}
				.description_title {
					color: $white;
					font-size: 38px;
					font-weight: 600;
					letter-spacing: 8px;
					margin: 0 0 16px;
					position: relative;
					text-transform: uppercase;
					width: 40%;

					&:before {
						content: '';
						background-color: transparent;
						border-bottom: 1px dashed #8c8b8b;
						left: -43px;
						bottom: -10px;
						position: absolute;
						height: 1px;
						width: 110%;
					}
				}
			}

			&:before,
			&:after {
				content: '';
				left: 0;
				height: 30%;
				background-color: $white;
				position: absolute;
				top: 0;
				width: 2px;
			}

			&:after {
				left: initial;
				right: 0;
				top: initial;
				bottom: 0;
			}
		}
	}
	#producto_description {
		.header {
			background: url('#{$bg}bg-producto-description.png') center fixed no-repeat;
			background-size: cover !important;
			padding: 40px 0;
			
			.content {				
				.description {
					color: $white;
					font-size: 16px;
				}
			}
		}

		.content {
			position: relative;

			.description_img {
				position: relative;

				.description {
					color: $black;
					font-size: 16px;
				}

				.line {
					background-color: $black;
					bottom: -28%;
					height: 10px;
    				left: -36%;
    				opacity: 0;
					position: absolute;
					width: 100px;
				}

				.title {
					font-size: 31px;
					font-weight: 600;
					letter-spacing: 5px;
					text-transform: uppercase;
					position: relative;

					&:after {
						content: '';
						background-color: #000;
						height: 37%;
						position: absolute;
						left: 25%;
						width: 2px;
						top: 56%;
					}
				}
				
			}
			

			.img {
				text-align: center;
				width: 100%;

				img {
					box-shadow: rgb(142, 142, 142) 0px 3px 14px -1px;
					margin: 0 auto;
					top: 30px;
					position: relative;
					width: 65%;
				}
			}
		}
	}

	#product_ppal {
		padding: 50px 0;
		position: relative;

		.content_product {
			color: $black;
			font-size: 20px;
			font-weight: 100;
			letter-spacing: 2px;
			padding-left: 10px;
			position: relative;
			width: 35%;
			text-transform: uppercase;

			&:after {
				content: '';
				background-color: #000;
				height: 78%;
				position: absolute;
				right: 8px;
				width: 2px;
				top: 4px;
			}
		}

		.imgs {
			position: relative;
			width: 100%;

			.bannerppal1 {
				img {
					position: absolute;
					right: 10%;
					top: -20%;
					opacity: 0;
					width: 400px;
				}
			}

			.bannerppal2 {
				img {
					left: 18%;
					position: absolute;
					top: 20%;	
					opacity: 0;
					width: 400px;
				}
			}

			.manikin {
				text-align: center;
				position: relative;
				z-index: 99;

				img { margin: 0 auto; width: 300px; }
			}

			.line {
				background-color: $black;
				height: 100px;
				position: absolute;
				opacity: 0;
				width: 10px;
			}
			.line2 { right: 0; }
		}

		.text_ppal {
			position: fixed;
			top: 44%;
			right: -64%;
			width: 100%;

			h1 {
				font-size: 156px;
				font-weight: 800;
				letter-spacing: 10px;
				margin: 0;
			}
		}
	}
}