#navbar {
	float: right;
	position: relative;
	bottom: 30px;

	ul {
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: inline-block;
			margin: 0 20px;
			list-style: none;

			a {
				color: $white;
				font-size: 14px;
				text-decoration: none;
				text-transform: uppercase;
				position: relative;

				&:before {
					content: '';
					background-color: $white;
					bottom: -4px;
					left: 0;
					height: 1px;
					position: absolute;
					width: 0%;
					transition: all .2s linear;
				}

				&:hover {
					&:before { width: 100%; }
				}
			}
		}

		.redes {
			margin: 0 5px;

			a {
				&:before { content: none; }
			}
		}
	}
}